<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top" src="/images/Centex.PNG" alt="Card image cap">
                <div class="card-body">
                        <h5 class="card-title">Centex Material Handling</h5>
                        <h5>ASP .NET + AngularJS</h5>
                        <p class="card-text">Website for a material handling company.</p>
                        <a href="https://cmhandling.com/" class="card-link" target="_blank" >View Site</a>
                </div>
            </div>
        </div>
    </div>
</div>