
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" routerLink="" style="color: #fff;">Parris Web Design</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/services" style="color: #fff;">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects" style="color: #fff;">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" style="color: #fff;">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="https://www.facebook.com/pg/Parris-Web-Design-2144586345805684/about/?ref=page_internal" class="nav-link" target="_blank"><i style="color: #fff;" class="fab fa-facebook-square fa-2x" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="My facebook page"></i></a>
          </li>
          <li class="nav-item">
            <a href="http://www.linkedin.com/in/jeremy-parris-aa17b959" class="nav-link" target="_blank"><i style="color: blue;" class="fab fa-linkedin fa-2x" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="My linked in page" style="color: #fff;"></i></a>
          </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <br />
  <router-outlet></router-outlet>
</div>