<div class="row">
    <div class="col-sm">
        <h3>Web Development</h3>
        <p>Front end and back end web development. Using technologies such as Angular, HTML 5, CSS 3, ASP .Net Core, Web Api, and Sql Server</p>
    </div>
    <div class="col-sm">
        <h3>Web Design</h3>
        <p>Design and build new websites from scratch. Maintain currently existing websites</p>
    </div>
    <div class="col-sm">
        <h3>Web Hosting</h3>
        <p>Import your currently existing website into production</p>
    </div>
</div>