<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-3 text-center">
            <i class="material-icons">build</i>
        <h3 class="text-center">Web Development</h3>
        <p>Front end and back end web development. Using technologies such as Angular, HTML 5, CSS 3, ASP .Net Core, Web Api, and Sql Server</p>
    </div>
    <div class="col-sm-3 text-center">
            <i class="material-icons" style="font-size: 2em;">
                    list_alt
                    </i>
        <h3 class="text-center">Web Design</h3>
        <p>Design and build new websites from scratch. Maintain currently existing websites</p>
    </div>
    <div class="col-sm-3 text-center">
            <i class="material-icons">
                    computer
                    </i>
        <h3 class="text-center">Web Hosting</h3>
        <p>Import your currently existing website into production</p>
    </div>
</div>